// theme colors
$primary: #cfcfcf !default;
$dark: #283046 !default;
$secondary: #20283e !default;
$input-dark-theme: #3e4559 !default;

// color palette
$colors: (
  "primary": $primary,
  "dark": $dark,
  "input-dark-theme": $input-dark-theme,
  "secondary" : $secondary
) !default;

// spacing
$base-padding: 1rem !default;
$base-margin: 1rem !default;

// borders
$base-border-thickness: 0.1rem !default;
$base-border-radius: 0.5rem !default;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;

// font sizes
/* $base-font-size: 1rem !default;
$font-size-sm: $base-font-size * 0.75 !default;
$font-size-lg: $base-font-size * 1.5 !default;
$font-size-xl: $base-font-size * 2 !default;
$font-size-xxl: $base-font-size * 3 !default; */
